---
import { getEntry } from "astro:content";
import MainLayout from "../../layout/MainLayout.astro";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("slug is required!");
}

const entry = await getEntry("projects", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout>
  <h1 class="font-semibold">{entry.data.title}</h1>
  <div>
    <Content />
  </div>
</MainLayout>
